@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

.header{
  align-self: flex-start;
  background-color: var(--jade);
  font-family: 'Space Grotesk';
  position: sticky;
  height: 100vh;
  top: 0;
  width: 20vw;
  z-index: 10;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px;
}

.header .content{
  margin-top:20px;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header .img-wrapper{
  display:flex;
  justify-content: center;
  width: 18vw;
  padding: 10px;
}

.header img{
  height: 18vw;
  max-height: 150px;
}

.header img:hover{
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 1px;
  cursor: pointer;
}


.icon{
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin: 10px;
  height: 60px;
  width: 60px;
  background-color: var(--fuchsia);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--gunmetal);
  box-shadow: 0px 4px var(--gunmetal);
}

.icon:hover{
  background-color: var(--fuchsia-darker);
  transform: translateY(4px);
  box-shadow: none;
  transition: 100ms;
}

.tooltip-text{
  visibility: hidden;
  position: absolute;
  z-index: 2;
  width: fit-content;
  text-wrap: nowrap;
  color: white;
  font-family: 'Space Grotesk', monospace;
  font-size: 14px;
  background-color: var(--gunmetal);
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  top: -45px;
  left: 10%;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  background-color: var(--gunmetal);
  padding: 5px;
  z-index: 1;
  top: 80%;
  left: 15%;
}

.icon:hover .tooltip-text {
  visibility: visible;
}