.kitchen-builder{
  margin: 10px;
}

.kitchen-builder label{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.kitchen-builder input{
  font-family: 'Space Grotesk';
  border: 2px solid var(--gunmetal);
  box-shadow: 0px 4px var(--gunmetal);
  border-radius: 5px;
  height: 20px;
  font-size: 18px;
  margin: 10px 0;
  padding: 10px 20px;
}

.kitchen-builder input:focus{
  outline: none;
  color: var(--gunmetal);
  border: 2px solid var(--jade);
  box-shadow: 0px 4px var(--jade),  rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.kitchen-builder input:hover{
  border: 2px solid var(--jade);
  box-shadow: 0px 4px var(--jade),  rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.item-box{
  background-color: rgba(255, 255, 255, 0.8);
  font-size: large;
  border: 2px dashed var(--gunmetal);
  border-radius: 5px;
  width:fit-content;
  height: fit-content;
  margin: 10px 0 0 10px;
  padding: 10px;
  align-items: baseline;
}

.item-box:hover{
  box-shadow: rgba(60, 64, 67, 0.2) 0px 1px 2px 0px, rgba(60, 64, 67, 0.1) 0px 2px 6px 2px;
}

.item-box button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.item-box img{
  margin: 0 -8px -2px 5px;
  height: 16px;
  width: 16px;
}

.kitchen-box{
  background-size: 100%;
  opacity: 1;
  margin: 20px 0;
  border: 2px solid var(--gunmetal);
  box-shadow: 0px 4px var(--gunmetal);
  border-radius: 5px;
  width: auto;
  min-height: fit-content;
  height: 45vh;
}

.kitchen-items{
  opacity: 1;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}