.recipe-gen{
  margin: 20px;
}

.recipe-gen .header{
  display:flex;
  justify-content: space-between;
}

.recipe-nav{
  max-width: 100%;
  margin: 10px 30px 10px 0;
  display: flex;
  justify-content: space-between;
}

.button {
  align-self: center;
  background-color: white;
  color: var(--jade);
  border: 2px solid var(--jade);
  border-radius: 5px;
  margin: 0 20px;
  line-height: 1rem;
  cursor: pointer;
  font-family: 'Inconsolata';
  font-size: 1rem;
  padding: 0.75rem;
}

.button:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

.generated-list{
  background-color: rgb(243, 243, 243);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  font-size: 18px;
  padding: 10px;
  margin: 0px;
}

.generated-list li{
  list-style: none;
}

.generated-recipe{
  background-color: white;
  color: black;
  margin: 20px 40px;
  padding: 20px;
  border: 1.5px solid var(--fuchsia);
  border-radius: 5px;
}

.link{
  text-decoration: none;
}