.recipe-gen{
  margin: 20px;
}

.recipe-gen .header{
  display:flex;
  justify-content: space-between;
}

.recipe-nav{
  max-width: 100%;
  margin: 10px 30px 10px 0;
  display: flex;
  justify-content: space-between;
}

.button {
  transform: translateY(-4px);
  align-self: center;
  background-color: var(--jade);
  color: white;
  border: 2px solid var(--gunmetal);
  box-shadow: 0px 4px var(--gunmetal);
  border-radius: 5px;
  margin: 0 20px;
  line-height: 1rem;
  cursor: pointer;
  font-family: 'Space Grotesk';
  font-size: 1rem;
  padding: 0.75rem;
}

.button:hover {
  background-color: var(--fuchsia-darker);
  transform: translateY(0px);
  box-shadow: none;
  transition: 100ms;
}

.generated-list{
  border-radius: 5px;
  font-size: 18px;
  padding: 0px;
  margin: 0px;
}

.generated-list li{
  list-style: none;
}

.generated-recipe{
  background-color: white;
  color: var(--gunmetal);
  margin: 20px 0px;
  padding: 20px;
  border: 2px solid var(--jade);
  box-shadow: 0px 4px var(--jade);
  border-radius: 5px;
}

.generated-recipe:hover{
  transform: translateY(4px);
  box-shadow: none;
  transition: 100ms;
}

.link{
  text-decoration: none;
}