/* Side Bar */

.sidebar-container {
  width:fit-content;
  z-index: 11;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--fuchsia);
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  box-sizing: border-box;
  color: var(--bleached-cedar);
  display: inline-block;
  font-family: Neucha, sans-serif;
  outline: none;
  text-decoration: none;
}

.sidebar {
  color: var(--bleached-cedar);
  height: 100vh;
  width: 200px;
  transition: width 0.5s;
  border-radius: 10px;
  margin: 5px;
}

.sidebar .top_section {
  display: flex;
  align-items: center;
  padding: 20px;
}

.sidebar .bars {
  display: flex;
  margin-left: 50px;
}

.sidebar .link,
.sidebar .link-close {
  display: flex;
  color: black;
  padding: 15px 10px;
  gap: 30px;
  text-decoration: none;
}

.sidebar .link .link_text {
  padding-top: 10px;
  font-size: 17px;
}

.sidebar .link:hover {
}

.sidebar .link:hover,
.sidebar .link-close:hover {
  color: var(--royal-health);
  cursor: pointer;
}

.sidebar .authentication {
  align-items: center;
  font-size: 18px;
  text-align: center;
}
.sidebar .welcome {
  align-items: center;
  font-size: 22px;
  text-align: center;
}
.sidebar .login-button {
  margin-top: 20px;
  align-self: center;
  background-color: var(--calico);
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: 'Inconsolata';
  font-size: 1rem;
  line-height: 11px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.sidebar .login-button:hover {
}

.sidebar .login-button:focus {
}

.recipe-list {
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  width: 240px;
  height: auto;
  background-color: white;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  color: var(--bleached-cedar);
  display: inline-block;
  font-family: 'Inconsolata', sans-serif;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
}

.recipe-list ul {
  list-style-type: none;
  padding: 0;
}

.recipe-list ul li {
  color: var(--bleached-cedar);
  margin-left: 8px;
  font-size: 15px;
}

.recipe-link {
  text-decoration: none;
  color: black;
  margin-left: 8px;
}
